
#homepage-graphic-1 {
  width: 90%;
  margin-right: -20px;
}

#content {
  margin-top: 80px;
}
#col-no-1 h1 {
  font-family: "ABeeZee";
}

@media only screen and (min-width: 991px) {
  #col-no-1 h1 {
    font-size: 72px;
  }
}