
#homepage-graphic-1 {
  width: 90%;
  margin-right: -20px;
}

#content {
  margin-top: 80px;
}
#col-no-1 h1 {
  font-family: "ABeeZee";
}

@media only screen and (min-width: 991px) {
  #col-no-1 h1 {
    font-size: 72px;
  }
  #italic-btm-text {
    font-size: 18px;
  }
}

#italic-btm-text {
  font-family: "ABeeZee";
	text-align: left;
}
.start-learning{
  background-color: rgb(38,103,255);
  border-radius: 75px;
  text-decoration: none;
}

.start-learning .navbar-light .navbar-nav .nav-link {
  color: white;
}